anki>=2.1.65
aqt>=2.1.65
beautifulsoup4>=4.12.2
requests>=2.31.0
# anki==2.1.65
# aqt==2.1.65
# attrs==23.1.0
# beautifulsoup4==4.12.2
# blinker==1.6.2
# certifi==2023.5.7
# charset-normalizer==3.2.0
# click==8.1.6
# decorator==5.1.1
# Flask==2.3.2
# Flask-Cors==4.0.0
# idna==3.4
# importlib-metadata==6.8.0
# itsdangerous==2.1.2
# Jinja2==3.1.2
# jsonschema==4.18.4
# jsonschema-specifications==2023.7.1
# Markdown==3.4.3
# MarkupSafe==2.1.3
# orjson==3.9.2
# protobuf==4.23.4
# PySocks==1.7.1
# referencing==0.30.0
# requests==2.31.0
# rpds-py==0.9.2
# Send2Trash==1.8.2
# soupsieve==2.4.1
# urllib3==2.0.4
# waitress==2.1.2
# Werkzeug==2.3.6
# zipp==3.16.2
