FLASK_DEBUG=1
FLASK_APP=./api
FORVO_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
PROJECT_DIR=/some/path/here/
LANGUAGE=it
DECK_NAME=Italiano
# SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX # Defaults to "development-key"
# DATABASE_URL=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX # Defaults to "sqlite:///{BACKEND_DIR}/api/api.db"
